:root {
  --border-size: 0.125rem;
  --duration: 250ms;
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
  --font-family: monospace;
  --color-primary: white;
  --color-secondary: black;
  --color-tertiary: dodgerblue;
  --shadow: rgba(0, 0, 0, 0.1);
  --space: 1rem;
}


body {
    overflow-x: hidden; 
  } 

  /* main {
    background-blend-mode: luminosity;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  } */

  main{
      background-color: #1B1730
  }



  h1 {
    font-family: "Fira Code",monospace;
    font-size: 74px;
    font-weight: 100;
    margin: auto;
    text-align: center;
    color: white;
  } 
  
  h2 {
    font-size: 44px;
    font-weight: 300;
    margin-bottom: 0;
    color: #FF87EB;
    text-align: center;
    font-family: "Fira Code", monospace;
  }
  
  h3 {
    font-size: 34px;
    font-weight: 100;
  
  }
  
  hr {
    width: 20%;
    margin-top: 20px;
    margin-bottom: 30px;
    border: solid #2f6c6e 1px;
    opacity: .5;
  }
  
  li {
    padding: 10px;
  }

  a{
    font-family: 'Nova Square', cursive;
    font-size: 20px;
    text-decoration: none;
  }

  label{
    font-family: 'Nova Square', cursive;
    font-size: 20px;
    text-decoration: none;
    color: #78FF81;
  }

  a:link { color: white; }
a:visited { color: white; }
a:hover { color: aquamarine; }
a:active { color: white; }

img{
    width: 80%;	
    border-radius: 8px;
    border: 1px solid #c5c0b8;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }



  /* intro content */

  .introContent{
      align-items: center;
      text-align: center;
      color: white;
  }

  .introContent > p{
        font-family: 'Nova Square', cursive;
  }


  /* header and nav */
  
  nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 1%;
    margin-top: 5%;
    font-size: 18px;
    color: #292349;
    margin-bottom: 0px;
    background-color: #473380;
  }

  header {
    display: flex;
    flex-direction: row;
    background-color: #473380;
    text-align: center;
    margin-top: 0px;
    padding-bottom: 4px;
    margin-bottom: 0px;
  }

  header > h1 {
      margin-left: 5px;
      font-size: 25px;
      /* margin-top: 50px; */
  }

  nav li a{
      margin-bottom: 10px;
      padding-bottom: 50px;
  }


  /* about me */

  .about_content{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
      text-align: left;
      margin: auto;
  }

  .about_content p {
      margin: 10px;
      color: white;
      font-family: 'Nova Square', cursive;
      font-size: 20px;
  }



  .portfolio-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    text-align: left;
    margin: auto;
  }

  .portfolio-section a{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    width: 80%;
    text-align: left;
    color: #78FF81;
    margin: auto;
  }

  .portfolio-section p {
    margin: 10px;
    color: white;
    font-family: 'Nova Square', cursive;
    font-size: 20px;
}

.portfolio-section h4 {
    margin: 10px;
    color: white;
    font-family: "Fira Code", monospace;
    font-size: 30px;
    text-align: center;
    color: #3DF5F5;
}

.project{
    margin-bottom: 20px;
}

/* contact css */


.contact_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    text-align: left;
    margin: auto;
}

.contactIcons{
  margin-right: 42px;
}

.contactIcons ol{
  align-items: center;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.contactIcons ol li{
    text-decoration: none;
    list-style: none;
}

form{
  display: flex;
  flex-direction: column;
  text-align: center;
}


/* @media all and (min-width: 800px) {

    .portfolio-section > img {
        width: 80%;	
        border-radius: 8px;
        border: 1px solid #c5c0b8;
    }
} */




/* button */

.multi-button button {
  flex-grow: 1;
  cursor: pointer;
  position: relative;
  padding: 5px;
  border: var(--border-size) solid black;
  color: var(--color-secondary);
  border-radius: 8px;
  background-color: var(--color-primary);
  font-size: 1.5rem;
  font-family: var(--font-family);
  text-transform: lowercase;
  text-shadow: var(--shadow) 2px 2px;
  transition: flex-grow var(--duration) var(--ease);
  margin-top: 10px;
  margin-bottom: 20px;
}

.multi-button button:hover,
.multi-button button:focus {
  flex-grow: 2;
  color: white;
  outline: none;
  text-shadow: none;
  background-color: #3DF5F5;
}


/* footer */

footer{
  background-color: #473380;
  margin: 0px;
}

footer p{
  margin: 0px;
  color: white;
}



@media only screen and (max-width: 600px) {
    body {
        overflow-x: hidden; 
      } 
      .portfolio-section p {
        margin: 5px;
        color: white;
        font-family: 'Nova Square', cursive;
        font-size: 20px;
      }

      header{
        display: flex;
        flex-direction: column;
      }

      nav {
        margin: auto;
      }

      h1{
          font-size: 50px;
          margin: 5px;
      }

      p{
          margin: 5px;
      }
    
  }
  
  @media screen and (max-width: 992px) {
    body {
        overflow-x: hidden; 
      } 
  }